# {{ ansible_managed }}

dbpath={{ mongodb_db_dir }}

# where to log
#logpath=/dev/stdout
#logappend = {{ mongodb_logappend | to_nice_json }}

port = {{ mongodb_port }}

# Listen to local interface only. Comment out to listen on all interfaces.
bind_ip = {{ mongodb_bind_ip }}

# Enables periodic logging of CPU utilization and I/O wait
cpu = {{ mongodb_cpu | to_nice_json }}

# Disables write-ahead journaling
nojournal = {{ mongodb_journal | to_nice_json }}

# Turn on/off security.  Off is currently the default
#noauth = true
auth = {{ mongodb_auth | to_nice_json }}

# Verbose logging output.
#verbose = true

# Inspect all client data for validity on receipt (useful for
# developing drivers)
objcheck = {{ mongodb_objcheck | to_nice_json }}

# Enable db quota management
quota = {{ mongodb_quota | to_nice_json }}

# Set oplogging level where n is
#   0=off (default)
#   1=W
#   2=R
#   3=both
#   7=W+some reads
#diaglog = 0

# Ignore query hints
#nohints = true

# Enable the HTTP interface (Defaults to port 28017).
httpinterface = {{ mongodb_httpinterface | to_nice_json }}

# Turns off server-side scripting.  This will result in greatly limited
# functionality
noscripting = {{ mongodb_noscripting | to_nice_json }}

# Turns off table scans.  Any query that would do a table scan fails.
notablescan = {{ mongodb_notablescan | to_nice_json }}

# Disable data file preallocation.
noprealloc = {{ mongodb_noprealloc | to_nice_json }}

# Specify .ns file size for new databases.
# nssize = <size>

# Replication Options

# in replicated mongo databases, specify the replica set name here
#replSet=setname
# maximum size in megabytes for replication operation log
#oplogSize=1024
# path to a key file storing authentication info for connections
# between replica set members
#keyFile=/path/to/keyfile
