#jinja2: trim_blocks: True, lstrip_blocks: True

---
# {{ ansible_managed }}

storage:
  dbPath: "{{ mongodb_db_dir }}"
  directoryPerDB: {{ mongodb_config_storage_directoryPerDB | to_nice_json }}
  journal:
    enabled: {{ mongodb_journal | to_nice_json }}

systemLog:
  destination: file
  path: "{{ mongodb_log_dir }}/mongod.log"
  logAppend: {{ mongodb_logappend | to_nice_json }}
  timeStampFormat: iso8601-utc

processManagement:
  fork: false

net:
  port: {{ mongodb_port }}
  wireObjectCheck: false
  ipv6: false
  unixDomainSocket:
    enabled: true
  http:
    enabled: true
    RESTInterfaceEnabled: true



